<%= turbo_frame_tag "vote_actions" do %>
  <% if issue.present? %>
    <% if issue.points_revealed_at %>
      <div class="d-flex justify-content-end align-items-center">
        <% if policy(issue).revote? %>
          <%= button_to new_game_room_issue_revotes_path(issue.game_room, issue), method: :get, class: "btn btn-outline-primary mx-2", data: { turbo_frame: 'modal' } do %>
            <%= button_text enabled_text: "Revote" %>
          <% end %>
        <% end %>
        <%= render "pokers/components/revealed_points", issue: issue %>
      </div>
    <% else %>
      <% if poker.persisted? %>
        <%= button_to game_room_poker_path(issue.game_room, poker), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger ml-2", style: "float: right;" do %>
          <%= button_text(enabled_text: "Clear your vote", disabled_text: "Clearing...") %>
        <% end %>
      <% end %>


      <% vote_helper = vote_details_helper(poker, issue) %>
      <%= button_to vote_helper[:path], method: :get, data: { turbo_frame: 'modal' }, class: "btn btn-outline-primary", style: "float: right; margin-right: 1em;" do %>
        <%= button_text enabled_text: vote_helper[:text], disabled_text: "Loading..." %>
      <% end %>

      <% if issue.pokers.present? && policy(issue).reveal_votes? %>
        <%= button_to new_game_room_issue_reveal_votes_path(issue.game_room, issue), method: :get, class: "btn btn-outline-primary", style: "float: right; margin-right: 1em;", data: { turbo_frame: 'modal' } do %>
          <%= button_text enabled_text: "Reveal Votes", disabled_text: "Loading..." %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>