<div id="<%= dom_id issue %>">
  <p>
    <strong>Title:</strong>
    <%= issue.title %> <%= button_to "Set As Current", game_room_issue_set_current_issue_path(@game_room, issue), method: :post %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Game room:</strong>
    <%= issue.game_room_id %>
  </p>

</div>
