<p style="color: green"><%= notice %></p>

<%= render @issue %>

<div>
  <%= link_to "Edit this issue", edit_game_room_issue_path(@game_room, @issue) %> |
  <%= link_to "Back to issues", game_room_issues_path(@game_room, @issue) %>

  <%= button_to "Destroy this issue", game_room_issue_path(@game_room, @issue), method: :delete %>
</div>
