<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Game Rooms</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Select existing game room or create a new one to start scrum poker planning.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Create a new Game" , new_game_room_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @game_rooms.each do |game_room| %>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= game_room.name %></h5>
            <%= link_to 'Show', game_room, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_game_room_path(game_room), class: 'btn btn-secondary' if policy(game_room).edit? %>
            <%= link_to 'Delete', game_room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if policy(game_room).destroy? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>