
<%= render @game_room %>

<h2>Issues</h2>
<p><%= link_to "Create a new Issue", new_game_room_issue_path(@game_room) %></p>
<%= render @game_room.issues %>

<div>
  <%= link_to "Edit this game room", edit_game_room_path(@game_room) %> |
  <%= link_to "Back to game rooms", game_rooms_path %>

  <%= button_to "Destroy this game room", @game_room, method: :delete %>
</div>
