<%= turbo_frame_tag "player_table" do %>
  <table class="table table-bordered">
    <thead>
      <th>#</th>
      <th>Player</th>
      <th>Status</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% game_room.game_room_users.includes(:user).each_with_index do |game_room_user, i| %>
        <tr class="<%= "table-light" if game_room_user.discarded? %>">
          <th scope="row"><%= i + 1 %></th>
          <td class=""><%= game_room_user.name || game_room_user.email %> <%= "(removed)" if game_room_user.discarded? %> </td>
          <td><%= player_status(game_room_user.user, issue) %></td>
          <td class="d-flex">
            <% if policy(game_room_user).destroy? %>
              <%= button_to(
                game_room_game_room_user_path(game_room_user.game_room, game_room_user),
                method: :delete,
                form: { data: { turbo_confirm: confirm_remove_text(game_room_user.user) } },
                class: "btn btn-danger btn-sm mx-1") do %>
                <%= button_text enabled_text: remove_button_text(game_room_user.user), disabled_text: "Removing.." %>
              <% end %>
            <% end %>
            <% if policy(game_room_user).add_role? %>
              <% if game_room_user.user.has_role?(:admin, game_room) %>
                <%= button_to(
                  game_room_user_roles_path(game_room_user.game_room, game_room_user_id: game_room_user),
                  method: :delete,
                  form: { data: { turbo_confirm: "Are you sure you want to remove the admin role for #{game_room_user.name}?" } },
                  class: "btn btn-warning btn-sm"
                ) do %>
                  <%= button_text enabled_text: "Remove Admin Role", disabled_text: "Removing.." %>
                <% end %>
              <% else %>
                <%= button_to(
                  game_room_user_roles_path(game_room_user.game_room, game_room_user_id: game_room_user),
                  method: :post,
                  form: { data: { turbo_confirm: "Are you sure you want to give admin privileged to #{game_room_user.name}?" } },
                  class: "btn btn-primary btn-sm"
                ) do %>
                  <%= button_text enabled_text: "Give Admin Role", disabled_text: "Giving.." %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>