<p style="color: green"><%= notice %></p>

<%= render @poker %>

<div>
  <%= link_to "Edit this poker", edit_game_room_poker_path(@game_room, @poker) %> |
  <%= link_to "Back to pokers", game_room_pokers_path(@game_room) %>

  <%= button_to "Destroy this poker", game_room_poker_path(@game_room, @poker), method: :delete %>
</div>
