<!DOCTYPE html>
<html>
  <head>
    <title>SprintSpades</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <main>
    <div class="container-fluid">
      <%= render "shared/application_nav" %>
      <%= render "shared/alerts" %>
      <%= yield %>
    </div>
  </main>

  <body>
  </body>
</html>
