<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>SprintSpades</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
      <header>
        <%= render "shared/application_nav" %>
      </header>

      <div class="d-flex flex-column">
        <main class="container-fluid">
          <%= render "shared/alerts" %>
          <%= render "shared/modal" %>
          <%= yield %>
        </main>
      </div>

      <%= render "shared/footer" %>
  </body>
</html>
